
TP_Modulo3A/Solucion/Solucion_Modulo3A/.vs/Solucion_Modulo3A/v16/TestStore/0/003.testlog
TP_Modulo3A/Solucion/Solucion_Modulo3A/.vs/Solucion_Modulo3A/v16/TestStore/0/003.testlog
*.testlog
*.testlog
TP_Modulo3A/Solucion/Solucion_Modulo3A/.vs/Solucion_Modulo3A/v16/.suo
TP_Modulo3A/Solucion/Solucion_Modulo3A/.vs/Solucion_Modulo3A/v16/TestStore/0/003.testlog
TP_Modulo3A/Solucion/Solucion_Modulo3A/.vs/Solucion_Modulo3A/v16/TestStore/0/testlog.manifest
